# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Data files
data/*.csv
src/

# Config
config.yaml
.env
.vscode/

# Project files
nominatim_cache.json
project_naam_structuur.yaml
*.md

# Data files (additional)
data/*.pdf
data/*.json
data/gisco/

# OS
.DS_Store
Thumbs.db
